<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="5">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Ricky Chuang">
    <meta name="description" content="Google Hardware Product Sprint 2021 APAC TW HPS Program">

    <link rel="canonical" href="https://bootstrap5.hexschool.com/docs/5.0/examples/headers/">

    <!-- Bootstrap core CSS -->
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">

    <style>
	.bd-placeholder-img {
		font-size: 1.125rem;
        text-anchor: middle;
       	-webkit-user-select: none;
       	-moz-user-select: none;
       	user-select: none;
    }
    
    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
         	font-size: 3.5rem;
        }
    }
        
    .day { background-color: #fff; color: #000; }
        
    @media (prefers-color-scheme: light) { .day.cardtitle { background-color: #F8F9FA; } }
        
    @media (prefers-color-scheme: dark) {
        .day.night {
    		background-color: #22272E;
      		border-color: #434C56;
    		color: #fff;
  		}
      	.day.light {
    		background-color: #373E47;
      		border-color: #ADBAC7;
    		color: #ADBAC7;
  		}
      	.day.cardtitle {
    		background-color: #495057;
      		color: #fff;
  		}
    }
    </style>

    <!-- Custom styles for this template -->
    <link href="headers.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

</head>
<body class="day night">
	<div class="container px-4 py-5" id="icon-grid">
    	<h1 class="pb-2 border-bottom">
	        <span class="text-primary">G</span><span class="text-danger">o</span><span class="text-warning">o</span><span class="text-primary">g</span><span class="text-success">l</span><span class="text-danger">e</span>
      	    HPS Team 2：Demeter<span class='fs-4 float-end mt-4'>{{year}} 年 {{month}} 月 {{day}} 日  {{hour}}：{{min}}</span>
    	</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-4">
        <div class="col-sm-3">
            <div class="card day light">
                <div class="card-body">
                    <h4 class="card-title p-3 mb-2 day cardtitle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="#0dcaf0" class="bi bi-moisture" viewBox="0 0 18 18">
                            <path d="M13.5 0a.5.5 0 0 0 0 1H15v2.75h-.5a.5.5 0 0 0 0 1h.5V7.5h-1.5a.5.5 0 0 0 0 1H15v2.75h-.5a.5.5 0 0 0 0 1h.5V15h-1.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 .5-.5V.5a.5.5 0 0 0-.5-.5h-2zM7 1.5l.364-.343a.5.5 0 0 0-.728 0l-.002.002-.006.007-.022.023-.08.088a28.458 28.458 0 0 0-1.274 1.517c-.769.983-1.714 2.325-2.385 3.727C2.368 7.564 2 8.682 2 9.733 2 12.614 4.212 15 7 15s5-2.386 5-5.267c0-1.05-.368-2.169-.867-3.212-.671-1.402-1.616-2.744-2.385-3.727a28.458 28.458 0 0 0-1.354-1.605l-.022-.023-.006-.007-.002-.001L7 1.5zm0 0-.364-.343L7 1.5zm-.016.766L7 2.247l.016.019c.24.274.572.667.944 1.144.611.781 1.32 1.776 1.901 2.827H4.14c.58-1.051 1.29-2.046 1.9-2.827.373-.477.706-.87.945-1.144zM3 9.733c0-.755.244-1.612.638-2.496h6.724c.395.884.638 1.741.638 2.496C11 12.117 9.182 14 7 14s-4-1.883-4-4.267z"/>
                        </svg>
                        &nbsp;濕度 Humidity
                    </h4>
	                <p class="card-text">{{dry_or_wet_plant}}</p>
	                <p class="card-text">{{dry_or_wet_people}}</p>
	            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item day light"><span class="fw-bold">・濕度：</span>{{humidity}} ％</li>
                </ul>
                <div class="card-body">
	                <form method="post" action="/">
	                    <input class="btn btn-primary" type="submit" value="Watering" name="Watering"/>
                        <button type="button" class="btn btn-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
                            <a href="https://github.com/5j54d93/Google-HPS/blob/0cb360f645171c22623b129981b8182c14857a27/temperature_humidity/SHT31D.py#L31" class="text-white bg-dark" style="text-decoration:none;" target="_blank">
                            Doc
                            </a>
                        </button>
	                </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card day light">
                <div class="card-body">
                    <h4 class="card-title p-3 mb-2 day cardtitle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="#fc8c11" class="bi bi-thermometer-half" viewBox="0 0 18 18">
                            <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V6.5a.5.5 0 0 1 1 0v4.585a1.5 1.5 0 0 1 1 1.415z"/>
                            <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z"/>
                        </svg>
                        &nbsp;溫度 Temperature
                    </h4>
	                <p class="card-text">{{cold_or_hot}}</p>
	            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item day light"><span class="fw-bold">・攝氏：</span>{{temperature_C}} °C</li>
	                <li class="list-group-item day light"><span class="fw-bold">・華氏：</span>{{temperature_F}} °F</li>
                </ul>
                <div class="card-body">
	        	    <form method="post" action="/">
	                    <input class="btn btn-primary" type="submit" value="Watering" name="Watering"/>
                            <button type="button" class="btn btn-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                </svg>
                                <a href="https://github.com/5j54d93/Google-HPS/blob/cbdedf58fc93fe9c6ef6ab69733e685fb0193184/temperature_humidity/SHT31D.py#L17" class="text-white bg-dark" style="text-decoration:none;" target="_blank">
                                Doc
                                </a>
                            </button>
	                </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card day light">
                <div class="card-body">
                    <h4 class="card-title p-3 mb-2 day cardtitle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="#ffc107" class="bi bi-brightness-high-fill" viewBox="0 0 18 18">
                        <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                        </svg>
                        &nbsp;光線 Colorutility
                    </h4>
                    <p class="card-text">{{bright_or_dark}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item day light"><span class="fw-bold">・照度：</span>{{light_value}}<span class='text-muted'>（{{light_value_percentage}}％）</span></li>
                    <li class="list-group-item day light"><span class="fw-bold">・色溫：</span>{{light_color_temperature}} °K</li>
                </ul>
                <div class="card-body">
	                <form method="post" action="/">
	                    <input class="btn btn-primary" type="submit" value="Watering" name="Watering"/>
                        <button type="button" class="btn btn-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
                            <a href="https://github.com/5j54d93/Google-HPS/blob/cbdedf58fc93fe9c6ef6ab69733e685fb0193184/light/APDS9960.py#L12" class="text-white bg-dark" style="text-decoration:none;" target="_blank">
                            Doc
                            </a>
                        </button>
	                </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card day light">
                <div class="card-body">
                    <h4 class="card-title p-3 mb-2 day cardtitle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="#A96FFF" class="bi bi-arrows-move" viewBox="0 0 18 18">
                            <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10zM.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8z"/>
                        </svg>
                        &nbsp;Acceleration
                    </h4>
	                <p class="card-text">{{stable_or_sway}}</p>
	            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item day light"><span class="fw-bold">・X：</span>{{acceleration_x}} ％</li>
	                <li class="list-group-item day light"><span class="fw-bold">・Y：</span>{{acceleration_y}} ％</li>
                </ul>
                <div class="card-body">
                    <form method="post" action="/">
	                    <input class="btn btn-danger" type="submit" value="Noise" name="Noise"/>
                        <button type="button" class="btn btn-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
                            <a href="https://github.com/5j54d93/Google-HPS/blob/cbdedf58fc93fe9c6ef6ab69733e685fb0193184/acceleration/ADXL203EB.py#L28" class="text-white bg-dark" style="text-decoration:none;" target="_blank">
                            Doc
                            </a>
                        </button>
	                </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card day light">
                <div class="card-body">
                    <h4 class="card-title p-3 mb-2 day cardtitle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="#2d9b41" class="bi bi-wind" viewBox="0 0 18 18">
                            <path d="M12.5 2A2.5 2.5 0 0 0 10 4.5a.5.5 0 0 1-1 0A3.5 3.5 0 1 1 12.5 8H.5a.5.5 0 0 1 0-1h12a2.5 2.5 0 0 0 0-5zm-7 1a1 1 0 0 0-1 1 .5.5 0 0 1-1 0 2 2 0 1 1 2 2h-5a.5.5 0 0 1 0-1h5a1 1 0 0 0 0-2zM0 9.5A.5.5 0 0 1 .5 9h10.042a3 3 0 1 1-3 3 .5.5 0 0 1 1 0 2 2 0 1 0 2-2H.5a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                        &nbsp;空氣 Air Quality
                    </h4>
                    <p class="card-text">{{air_quality}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item day light"><span class="fw-bold">・eCO₂：</span>{{eCO2}} ppm</li>
                    <li class="list-group-item day light"><span class="fw-bold">・TVOC：</span>{{TVOC}} ppb</li>
                </ul>
                <div class="card-body">
	                <form>
                        <button type="button" class="btn btn-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
                            <a href="https://github.com/5j54d93/Google-HPS/blob/cbdedf58fc93fe9c6ef6ab69733e685fb0193184/air_quality/SGP30.py#L20" class="text-white bg-dark" style="text-decoration:none;" target="_blank">
                            Doc
                            </a>
                        </button>
	                </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card day light">
                <div class="card-body">
                    <h4 class="card-title p-3 mb-2 day cardtitle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="#0d6efd" class="bi bi-droplet-half" viewBox="0 0 18 18">
 	                        <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
 	                        <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
	                    </svg>
                        &nbsp;Auto Watering
                    </h4>
	                <p class="card-text">半天未澆水時，便會自動澆水！</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item day light"><span class="fw-bold">・上次澆水時間：</span>{{last_watering_time}}</li>
                    <li class="list-group-item day light"><span class="fw-bold">・距離上次澆水：</span>{{upon_last_watering_time}}<span class='text-muted'>／720 分</span></li>
                </ul>
                <div class="card-body">
                    <form method="post" action="/">
	                    <input class="btn btn-primary" type="submit" value="Watering" name="Watering"/>
                        <button type="button" class="btn btn-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
                            <a href="https://github.com/5j54d93/Google-HPS/blob/cbdedf58fc93fe9c6ef6ab69733e685fb0193184/bump/Bump.py#L37" class="text-white bg-dark" style="text-decoration:none;" target="_blank">
	                        Doc
	                        </a>
                        </button>
  	                </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card day light">
                <div class="card-body">
                    <h4 class="card-title p-3 mb-2 day cardtitle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="#dc3545" class="bi bi-phone-vibrate" viewBox="0 0 18 18">
  	                        <path d="M10 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4zM6 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H6z"/>
  	                        <path d="M8 12a1 1 0 1 0 0-2 1 1 0 0 0 0 2zM1.599 4.058a.5.5 0 0 1 .208.676A6.967 6.967 0 0 0 1 8c0 1.18.292 2.292.807 3.266a.5.5 0 0 1-.884.468A7.968 7.968 0 0 1 0 8c0-1.347.334-2.619.923-3.734a.5.5 0 0 1 .676-.208zm12.802 0a.5.5 0 0 1 .676.208A7.967 7.967 0 0 1 16 8a7.967 7.967 0 0 1-.923 3.734.5.5 0 0 1-.884-.468A6.967 6.967 0 0 0 15 8c0-1.18-.292-2.292-.807-3.266a.5.5 0 0 1 .208-.676zM3.057 5.534a.5.5 0 0 1 .284.648A4.986 4.986 0 0 0 3 8c0 .642.12 1.255.34 1.818a.5.5 0 1 1-.93.364A5.986 5.986 0 0 1 2 8c0-.769.145-1.505.41-2.182a.5.5 0 0 1 .647-.284zm9.886 0a.5.5 0 0 1 .648.284C13.855 6.495 14 7.231 14 8c0 .769-.145 1.505-.41 2.182a.5.5 0 0 1-.93-.364C12.88 9.255 13 8.642 13 8c0-.642-.12-1.255-.34-1.818a.5.5 0 0 1 .283-.648z"/>
	                    </svg>
                        &nbsp;Auto Noising
                    </h4>
                    <p class="card-text">當植物劇烈晃動時，便會自動鳴笛！</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item day light"><span class="fw-bold">・上次鳴笛時間：</span>{{last_noise_time}}</li>
                    <li class="list-group-item day light"><span class="fw-bold">・距離上次鳴笛：</span>{{upon_last_noise_time}}</li>
                </ul>
                <div class="card-body">
                    <form method="post" action="/">
	                    <input class="btn btn-danger" type="submit" value="Noise" name="Noise"/>
                        <button type="button" class="btn btn-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
                            <a href="https://github.com/5j54d93/Google-HPS/blob/cbdedf58fc93fe9c6ef6ab69733e685fb0193184/buzzer/Buzzer.py#L43" class="text-white bg-dark" style="text-decoration:none;" target="_blank">
	                        Doc
	                        </a>
                        </button>
  	                </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    
	<footer class="text-muted py-3 border-top">
  		<div class="container">
    		<p class="float-end mb-1">
      			<button type="button" class="btn btn-dark border border-white">
            		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
            		    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            		</svg>
            		<a href="https://github.com/5j54d93/Google-HPS/tree/cbdedf58fc93fe9c6ef6ab69733e685fb0193184" class="text-white bg-dark" style="text-decoration:none;" target="_blank">
            		GitHub
            		</a>
          		</button>
    		</p>
    		<p class="mb-1">© Google Hardware Product Sprint 2021</p>
    		<p class="mb-0">APAC TW HPS Program：Team 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mentor：Weihsuan</p>
  		</div>
	</footer>
    
</body>
</html>
